*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
        width: 100%;  
        min-height: 100%;
        font-size: 62.5%;
        box-sizing: border-box; 
 }

body {
        width: 100%;  
        min-height: 100%;
        font-family: 'Open Sans', sans-serif;
        background-color: #eeeeee;
        color: #ffffff; 

    }
    
    p {
        font-size: 1.7rem;
    }
        

        #weather-section {
            
        max-width: 30rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: white;
        background-image: linear-gradient(to right bottom, rgba(43, 52, 41, 0.701), rgba(48, 56, 53, 0.8)), url("img/cloudy.jpg");
        background-size: cover;
        background-position: bottom;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40rem;
        display: flex;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

    
        }

        .weather-container {
           position: relative;
           padding: 3rem;
           width: 100%;
           align-self: center;
           
       }

 

        input[type] {
            padding: 1rem 1rem;
            color: #888;
            font-size: 1.5rem;
        }

        input {
            display: block;
            margin: .5rem auto;
            padding: 1 1.5rem;
            border-radius: .5rem;
            border: none;
            outline: none;
        }

        input:focus::placeholder {
        color: transparent;
}


        h1 {
            padding: 1rem;
            font-size: 3rem;
        }

        h3 {
            font-size: 3rem;
        }

        button, button:link, button:visited {
        margin: 2rem 0 1.5rem;
        background-color: #ffffff;
        color: #3c3b3b;          
        text-transform: capitalize;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: 1.2rem;
        border: none;
        cursor: pointer; 
}

button:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        button:hover::after {
        transform: scaleX(1.4) scaleY(1.7);
        opacity: 0; }

        button:active, button:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }



/* media queries */

  @media only screen and (min-width: 220px) and (max-width: 550px) {
      #weather-section {
          max-width: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          height: 100vh;
          border-radius: 0;
      }
      input {
          width: 90%;
      }
      button {
          width: 50%;
      }
  }

